.scrapnav{
  background-color: #000000;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;

  }



.scrapnav a{
 float: left;
 color: #ffffff;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 }

.scrapnav a.hover{
 background-color: #000000;
 color:black;
 }

.scrapnav a:active{
 background-color: #000000;
 color: white;
 }

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 200px;
  width: 550px;
  max-width : 100%;
}
.card-text {
word-wrap: break-word;
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_register_user {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 200px;
  width: 500px;
  max-width : 100%;
}
.card_register_user-text {
word-wrap: break-word;
}




.card_change_password {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 200px;
  width: 500px;
  max-width : 100%;
  margin: auto;
  margin-left: 250px;
}
.card_change_password h2, h3, input, button{
 display: inline;
 float: none;
 margin: auto;
}
.card_change_password-text {
word-wrap: break-word;
}

.card_change_password:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card_create_post {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 500px;
  width: 600px;
  max-width : 100%;
}
.card_create_post-text {
word-wrap: break-word;
}

.card_create_post:hover {
   box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.card_login_page {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 500px;
  width: 400px;
  max-width : 100%;
}



.card_detail {
  transition: 0.3s;
  min-height: 700px;
  width: 700px;
  max-width : 100%;
}
.card_detail-text {
word-wrap: break-word;
}
.card_detail_contact {
  transition: 0.3s;
  min-height: 700px;
  width: 700px;
  max-width : 100%;
}
.card_detail_contact-text {
word-wrap: break-word;
}

.container {
  padding: 2px 16px;
}
.row{
 text-align: justify;
 min-width: 412px;
 width: 80%; /* it changes by screen size actually */
 height: 90px;
 padding: 100px;
}
.row:after {
 content: '';
 display: inline-block;
 width: 100%;
}
.col {
 display: inline-block;
}
* {
margin: 0;
padding: 0;
}

.column{
float: left;
width: 25%;
padding: 0 10px;
}







@media only screen and(max-width: 600px){
.column{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

  html, body{
background-color: white;
}

.button{
width: 100%;
}
a.button{
display: block;
padding: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 200px;
  width: 400px;
  max-width : 100%;
}
.card-text {
word-wrap: break-word;
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 200px;
  width: 400px;
  max-width : 100%;
}
.card-text {
word-wrap: break-word;
}

.card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

}




html, body {
height: 100%;
padding-top: 4rem;
}

#wrap {
min-height: 100%;
}

#main {
overflow: auto;
padding-bottom: 180px;
}

#footer {
position: relative;
margin-top: -180px;
height: 180px;
clear: both;
background-color: red;
}



body:before {
content: "";
height: 100%;
float: left;
width: 0;
margin-top: -32767px;
}


.row_change{
 text-align: justify;
 min-width: 412px;
 width: 80%; /* it changes by screen size actually */
 height: 10px;

}
.row_change:after {
 content: '';
 display: inline-block;
 width: 100%;
}
.col_change {
 display: inline-block;
}


input[type="text"] {
 padding: 10px;
 width: 100%;
 font-size: 17px;
 font-family: Raleway;
 border: 1px solid #aaaaaa;
 border-radius: 10px;
 -webkit-appearance: none;
 }

input[type="email"]{
 padding: 10px;
 width: 100%;
 font-size: 17px;
 font-family: Raleway;
 border: 1px solid #aaaaaa;
 border-radius: 10px;
 -webkit-appearance: none;
}
input[type="password"]{
 padding: 10px;
 width: 100%;
 font-size: 17px;
 font-family: Raleway;
 border: 1px solid #aaaaaa;
 border-radius: 10px;
 -webkit-appearance: none;
}
input[type="username"]{
 padding: 10px;
 width: 100%;
 font-size: 17px;
 font-family: Raleway;
 border: 1px solid #aaaaaa;
 border-radius: 10px;
 -webkit-appearance: none;
}


.pump_button{
  button{
    width: 20px;
    padding: 10px;
}
}




.select:select{
padding: 50px;
}
textarea{
width: 100%;
height: 80%;
padding: 20px;
}
input[type="file"] {
 padding: 1px;

}


.profile_buttons{
  width: 80%;
  height: 0;
  padding-bottom: 1%;
  border-radius: 50%;
  border: 10px solid #1DA1F2;
  overflow: hidden;
  background: 1DA1F2;
  box-shadow: 0 0 3px 1DA1F2;
}




