body {
    background: white;
}

#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px;
}

#register {
    color: #6A1B9A;
}

h1 {
    text-align: center;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none;
    }

.tab input:focus {
    border: 1px solid #6a1b9a !important;
    outline: none;
}

input.invalid {
    border: 1px solid #e03a0666;
}























