{% extends "posts/base.html" %}
{% load static %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block css %} {% endblock css %}
{% block style %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="{% static 'posts/css/scrap_style_2.css' %}" rel="stylesheet"/>
{% endblock style %}

{% block content %}

<div class="container mt-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="card_change_password">
                <h3 style="margin-left: 40px;"> <b>Change Password</b></h3>
                <form id="regForm" method="POST">
                {% csrf_token %}
                 {{ password_change_form }}
                   <div class="row_change"></div>
                   <button class="btn btn-primary">Send Password Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
