<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <head>
{% load bootstrap3 %}
{% load static %}
{% block css %}{% endblock css %}

{% block style %}{% endblock style %}


<link href="{% static 'posts/css/scrap_style.css' %}" rel="stylesheet"/>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'bootstrap/css/custom.css' %}" rel="stylesheet" media="screen">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>


     <title> {% block title %} Scrap Post {% endblock %}</title>
  
     <div class="scrapnav"> 
     <nav class="navbar navbar-expand-lg navbar-dark bg-dar">
      <a class="navbar-brand" href="{% url 'posts:index' %}"><i class="fas fa-home">dumbbell</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {% if user.is_authenticated %}

        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'posts:profile' %}"><span class="sr-only">(current)</span><i class="fas fa-user"> {{user.username}}</i></a>
          <a class="nav-item nav-link" href="{% url 'posts:create_post' %}"><i class="fas fa-pen">write post</i></a>
          <a class="nav-item nav-link" href="{% url 'posts:logout' %}"><i class="fas fa-sign-out-alt">logout</i></a>
        </div>

        {% else %}
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'posts:login' %}"><b>login</b></a>
          <a class="nav-item nav-link" href="{% url 'posts:create_user' %}"><b>signup</b></a>
        </div>
       {% endif %}
      </div>
    </nav>

    

  </div>


 </head>
<body>
<div id="wrap">
    <div id="main">
{% block content %}- {% endblock content %}
    </div>
</div>
<script>
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementByClassName("scrapnav");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>


</body>


 <footer>
     <div class="footer">
{% block footer %} - {% endblock footer %}
     </div>
 </footer>
</html>
