<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <head>
{% load bootstrap3 %}
{% load static %}
{% block css %}{% endblock css %}

{% block style %}{% endblock style %}


<link href="{% static 'posts/css/scrap_style.css' %}" rel="stylesheet"/>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'bootstrap/css/custom.css' %}" rel="stylesheet" media="screen">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <title> {% block title %} Scrap Post {% endblock %}</title>
     <div class="scrapnav">

         {% if user.is_authenticated %}
         <a class="active" href="{% url 'posts:index' %}">Scraps</a>
         <a class="#" href="{% url 'posts:profile' %}">Welcome, {{user.username}}</a>
         <a class="#" href="{% url 'posts:create_post' %}">Create Post</a>
         <a class="#" href="{% url 'posts:logout' %}">Logout</a>

         {% else %}
         <a class="active" href="{% url 'posts:index' %}">Scraps</a>
         <a class="#" href="{% url 'posts:login' %}">Login</a>
         <a class="#" href="{% url 'posts:create_user' %}">Create Account</a>

         {% endif %}


     </div>
 </head>
<body>
<div id="wrap">
    <div id="main">
{% block content %} - {% endblock content %}
    </div>
</div>
<script>
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementByClassName("scrapnav");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

</body>


 <footer>
     <div class="footer">
{% block footer %} - {% endblock footer %}
     </div>
 </footer>
</html>
