{% extends "posts/base.html" %}
{% block css %}
{% load static %}
{% load bootstrap3 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock css %}
{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
    <div class="card_register_user">
    <h1><b> Create Account </b></h1>
    <form method="POST">
        {% csrf_token %}
        {{ register_form | crispy }}
        <button style="padding: 20px;" class="btn btn-primary" type="submit">Create Account</button>
        {% if messages %}
                    <ul class="messages">
                     {% for message in messages %}
                       <li style="color: red;" class="{{ message.tags }}"> {{message}} </li>
                        {% endfor %}
                    </ul>
        {% endif %}
    </form>
    <p style="margin-top: 20px;"> Already have an account?
        <a href="{% url 'posts:login' %}">
            Login
        </a>
    </p>
    </div>
</div>



{% endblock content %}
