{% extends "posts/base.html" %}
{% block css %}
{% load static %}
{% load bootstrap3 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock css %}
 {% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div style="margin: auto; margin-top: 20px;" class="card">
        <div class="form">
          <h2 style="margin-left: 100px;"> Delete Post ?</h2>
            <form method="POST">
                {% csrf_token %}
              <p style="margin-left: 50px;"> Are you sure you want to delete "{{ object }}"? </p>
              <Button style="margin-left: 50px;" class="btn btn-primary" type="submit" value="confirm">Delete?</Button>
            </form>
          </div>

</div>

{% endblock content %}
