{% extends "posts/base.html" %}
{% block css %}
{% load static %}
{% load bootstrap3 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock css %}
 {% block content %}

{% load static %}
{% load crispy_forms_tags %}


<div style="margin: auto; margin-top: 20px;" class="card_create_post">
    <div class="container">
        <div class="form">
          <h2> Edit Post </h2>
            <form method="POST">
              {% csrf_token %}
                {{ form.as_p }}
                  <button style="padding: 10px; margin-top: 10px;" class="btn btn-primary" type="submit">Update</button>


                   {% if messages %}
                    <ul class="messages">
                     {% for message in messages %}
                       <li class="{{ message.tags }}"> {{message}} </li>
                        {% endfor %}
                    </ul>
                   {% endif %}


            </form>
    </div>
    </div>
</div>


 {% endblock content %}
