{% extends "posts/base.html" %}
{% block css %}
{% load static %}
{% load bootstrap3 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="{% static 'posts/css/scrap_style.css' %}" rel="stylesheet"/>
{% endblock css %}
 {% block content %}

{% load static %}
{% load crispy_forms_tags %}


<div style="margin: auto; margin-top: 20px;" class="card_create_post">
        <div class="form">
          <h2> Edit Email </h2>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                {{ form | crispy }}
                  <button style="padding: 10px; margin-top: 10px;" class="btn btn-primary" type="submit">Update</button>

                  {% if messages %}
                  <div style="padding: 10px; margin-top: 10px;" class="container-fluid p-0">
                   {% for message in messages %}
                     <div class="alert {{ message.tags }} alert-dismissible" role="alert"> 
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                     {{message}}
                  </div>
              </div>
                  {% endfor %}
               
      {% endif %}

            </form>
    </div>
</div>


 {% endblock content %}
