{% extends "posts/base.html" %}
{% block css %}
{% load static %}
{% load bootstrap3 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock css %}
{% block content %}

{% load crispy_forms_tags %}
<div class="container py-5">
    <h1> Login </h1>
    <form method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button class="btn btn-primary" type="submit">Login</button>
        {% if messages %}
                    <ul class="messages">
                     {% for message in messages %}
                       <li class="{{ message.tags }}"> {{message}} </li>
                        {% endfor %}
                    </ul>
                   {% endif %}
    </form>
</div>

{% endblock content %}
