{% extends "posts/base.html" %}
{% block css %}
{% load static %}
{% load bootstrap3 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock css %}

{% block content %}
{% load crispy_forms_tags %}

<style>

.flex-child{
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.text_align{
  margin-left: 80px;
}
.card_profile {
     box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     height: 200px;
     width: 550px;
   }

.card_profile:hover {
      box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
 }

 .container {
     padding: 2px 16px;
   }
.row{
    text-align: justify;
    min-width: 412px;
    width: 80%; /* it changes by screen size actually */
    height: 90px;
    padding: 100px;
}
.row:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.col {
    display: inline-block;
}

.center_heading{
   margin-left: 80px;
}
.center_p{
  margin-left: 80px;
}

@media screen and (max-width: 600px){
  .row{
    text-align: justify;
    min-width: 412px;
    width: 80%; /* it changes by screen size actually */
    height: 90px;
    padding: 10px;
    padding-bottom: 200px;
}
.row:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.center_heading{
  margin-left: 10%;
}
.center_p{
  margin-left: 120px;
}
h2{
  font-size: 20px;

}

h4{
  font-size: 20px;
  color: red;
}

.card_profile {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 200px;
  width: 430px;
  max-width : 100%;
}
.card_profile-text {
word-wrap: break-word;
}

.card_profile:hover {
   box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}
.text_align{
  margin-left: 80px;
}

}



</style>

</style>
<h1 style="text-align: left; margin-left: 100px; vertical-align: middle; line-width: -100px;"><b>My Profile</b> </h1>

<div class="card_profile">\
  <div class="text_align">
    <div class="container">
        <h4> <a href="{% url 'posts:change_password' %}">Change Password</a></h4>
        <h4>  <a href="{% url 'posts:edit_user' %} ">Change EmailAddress</a></h4>
        <h4> <a href="{% url 'posts:delete_user' %}">Delete Account</a></h4>
      </div>
  </div>    
</div>
<hr>
<h1 style="text-align: left; margin-left: 100px; vertical-align: middle; line-width: -100px;"> <b>My Scraps</b> </h1>
      {% if not my_posts %}
      <img style="margin-left: 120px;" width="200px" height="200px" src="https://img.icons8.com/ios/50/000000/empty-box.png"/>
      {% endif %}
{% for posts in my_posts %}
   <div class="row">
    <div class="col">
      <div class="card">
        <div class="container">
            {% if posts.status == 0 %}
               <p> <b>This scrap is drafted</b></p>
            {% endif %}
         <a href="{% url 'posts:post_detail' posts.slug %}">
           <h3>   {{ posts.title }} </h3>
         </a>
            <h4>   {{ posts.created_on }} </h4>

            <a href="{% url 'posts:edit_post' posts.pk %}">
                <h4> edit</h4>
            </a>

            <a  href="{% url 'posts:delete_post' posts.pk %}">
                <h4> delete</h4>
            </a>


        </div>
      </div>
    </div>
</div>
<br/>
{% endfor %}

{% endblock content %}

{% block footer %}
{% if my_posts.has_other_pages %}
<div class="footer">
<nav aria-label="Page navigation example">
<ul class="pagination">
    {% if my_posts.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ my_posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in my_posts.paginator.page_range %}
    {% if my_posts.number == i %}
       <li class="page-item active"><span> {{ i }}<span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {% endif %}
    {% endfor %}

    {% if my_posts.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ my_posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}

</ul>
</nav>
</div>
{% endif %}
{% endblock footer %}

