{% extends "posts/base.html" %}
{% block css %}
{% load static %}
{% load bootstrap3 %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock css %}
{% block content %}

<style>

body {
            background-color: #ffffff;
        }

        .h7 {
            font-size: 0.8rem;
        }

        .gedf-wrapper {
            margin-top: 0.97rem;
        }

        .gedf-main {
                padding-left: 4rem;
                padding-right: 4rem;
                padding-top: 4rem;
                margin-left: auto;
                margin-right: auto;
            }
            .gedf-card {
                margin-bottom: 2.77rem;
            }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
        }






</style>





<h1 style="text-align: left; margin-left: 100px; vertical-align: middle; line-width: -100px;"><b>My Profile</b> </h1>

<div class="card_profile">
  <div class="text_align">
    <div class="container">
        <h4> <a href="{% url 'posts:change_password' %}">Change Password</a></h4>
        <h4>  <a href="{% url 'posts:edit_user' %} ">Change EmailAddress</a></h4>
        <h4> <a href="{% url 'posts:delete_user' %}">Delete Account</a></h4>
      </div>
  </div>    
</div>


<h1 style="text-align: left; margin-left: 100px; vertical-align: middle; line-width: -100px;"> <b>My Scraps</b> </h1>
      {% if not my_posts %}
      <img style="margin-left: 120px;" width="200px" height="200px" src="https://img.icons8.com/ios/50/000000/empty-box.png"/>
      {% endif %}



<div class="mainfeed">
    {% for posts in my_posts %}
     <div class="col-md-6 gedf-main">
                <div class="card gedf-card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                </div>
                                <div class="ml-2">
                                    <div class="h5 m-0">{{ posts.author }}</div>
                                </div>
                            </div>
                            <div>

                            </div>
                        </div>



                    </div>
                    <div class="card-body">
                        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>{{ posts.created_on }}</div>
                        <a class="card-link" href="#">
                            <h5 class="card-title"> {{ posts.title }}</h5>
                        </a>

                        <p class="card-text">
                            {{ posts.content }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'posts:edit_post' posts.pk %}" class="card-link">Edit</a>
                        <a href="{% url 'posts:delete_post' posts.pk %}" class="card-link">Delete</a>
                        <a href="#" class="card-link">Share</a>
                    </div>
                </div>

            </div>
     {% endfor %}
</div>

{% endblock content %}

{% block footer %}
{% if my_posts.has_other_pages %}
<div class="footer">
<nav aria-label="Page navigation example">
<ul class="pagination">
    {% if my_posts.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ my_posts.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in my_posts.paginator.page_range %}
    {% if my_posts.number == i %}
       <li class="page-item active"><span> {{ i }}<span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a class="page-link" href="?page={{i}}">{{i}}</a></li>
    {% endif %}
    {% endfor %}

    {% if my_posts.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ my_posts.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}

</ul>
</nav>
</div>
{% endif %}
{% endblock footer %}

