{% extends "posts/base.html" %}
{% load static %}
{% block css %}
{% load static %}
{% load bootstrap3 %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock css %}

{% block content %}
<div  style="margin: auto; margin-top: 20px; " class="card_detail">
    <h2> {{ post.title }}</h2>
    <p>{{ post.content }}</p>
    {% if post.image1 %}
    <img src = "{{ post.image1.url }}" class="img-responsive"/>
    <br/>

    {% endif %}
    {% if post.image2 %}
        <img src = "{{ post.image2.url }}" class="img-responsive"/>
        <br/>

    {% endif %}

    {% if post.image3 %}
        <img src = "{{ post.image3.url }}" class="img-responsive"/>
        <br/>

    {% endif %}

</div>



<div style="margin: auto;" class="card_detail_contact">
    <h3> <u>Contacts </u>: </h3>
    <p> <b>Phone</b> :  {{ post.phone_number }} </p>
    <p> <b>Email Address</b>: {{ post.email_address }}</p>
    <p> <b>Author </b>: {{ post.author }}</p>
</div>

{% endblock %}
